:root {
  /* UI colors */
  --bg--primary--color: #121212;
  --bg--secondary--color: #b0b0b0;
  --bg--fill--color: whitesmoke;
  --bg--food--color: rgba(226, 78, 78, 0.674);

  /* text-color */
  --text--color: #ffffff;

  /* Spacing */
  --space-xs: 0.25rem; /* 4px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 1rem; /* 16px */
  --space-lg: 1.5rem; /* 24px */
  --space-xl: 2rem; /* 32px */
  --space-2xl: 2.5rem; /* 40px */
  --space-3xl: 3rem; /* 48px */

  /* Border Color */
  --border--primary--color: #333333;

  /* Border Radius*/
  --boder-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 12px;
  --border-radius-lg: 16x;
  --border-radius-xl: 20px;
  --border-radius-2xl: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

html {
  background-color: var(--bg--primary--color);
  color: var(--text--color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main,
section {
  height: 100%;
  width: 100%;
}

.btn {
  padding: var(--space-sm) var(--space-md);
  background-color: var(--bg--fill--color);
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  font-size: 1rem;
  font-weight: bolder;
  transition: all 0.3s ease;
}

.btn:hover {
  scale: 0.92;
  box-shadow: inset 0 0 2px var(--bg--primary--color);
}

section {
  padding: var(--space-2xl);
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: var(--space-lg);
}

section .infos {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border--primary--color);
  border-radius: var(--space-md);
}

.board {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

.block {
  border-radius: 35%;
  font-size: 0.6rem;
  border: 1px solid var(--border--primary--color);
}

.fill {
  background-color: var(--bg--fill--color);
}

.food {
  background-color: var(--bg--food--color);
}

.modal {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23222288;
  backdrop-filter: blur(6px);
}

.modal .start-win,
.modal .game-over {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-lg);
}

.modal h3 {
  font-size: 2rem;
  margin-bottom: var(--space-lg);
}

.modal .game-over{
  display: none;
}